<div class="bg-dark fixed-bottom text-white py-3">
  <div>
        
    <a href="#">
      <img class="img-responsive" src="assets/img/Face.png" width="50" height="50" class="d-inline-block align-top">
    </a>
    <a href="#">
      <img class="img-responsive" src="assets/img/Insta.png" width="50" height="50" class="d-inline-block align-top">
    </a>
    <a href="#">
        <img class="img-responsive" src="assets/img/twiter.png" width="50" height="50" class="d-inline-block align-top">
      </a>
  </div>
    
    
  </div>
