.navbar-brand{
display: flex;
align-items: center;
    
}


.navbar-brand img{
float: left;    
}



.navbar-brand h1{
font-size: 20px;
color: white;
margin:auto;
}


.navbar-nav{
display: flex;
align-items: center;
}