
<section class="row mt-5">
 <div class="col">
    <button class="btn btn-warning float-right mb-3" data-toggle="modal" data-target="#modalProduct">Nuevo Producto</button>
   <table class="table table-hover">
     <thead>
       <tr></tr>
       <th>Nombre</th>
       <th>Nombre</th>
       <th>Categoria</th>
       <th>Descripcion</th>
       <th>Apreciacion</th>
       <th>Disponibles</th>
       <th></th>
       <th></th>

     </thead>
     <tbody>
       <tr *ngFor= "let product of products; index as i">
         <th scope="row">{{i+1}}</th>
         <td>{{product.name}}</td>
         <td>{{product.category}}</td>
         <td>{{product.descripcion}}</td>
         <td>{{product.apreciacion}}</td>
         <td>{{product.disponibles}}</td>
         <td><button class="btn btn-warning" (click)="onPreUpdateProduct(product)"  data-toggle="modal" data-target="#modalProduct">Modificar</button></td>
         <td><button class="btn btn-danger" (click)="onDeleteProduct(product.id)">Borrar</button></td>
       </tr>
     </tbody>
   </table>
 </div>
</section>
  <app-modal></app-modal>